/* 
    Created on : Dec 21, 2015, 5:04:23 PM
    Author     : Michael Kucinski
*/
html, body{
    height: 100%;
}
html{
    background-image: url(http://michaelkucinski.com/images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
body{
    background: transparent;
}
.voting-app{

}
.voting-app > .jumbotron{

    text-align: center;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.8);
    margin-bottom: 3em;
}
.voting-app > .jumbotron > h1{
    color: white;
}
.voting-app > .jumbotron > p{
    color: orangered;
    padding: .5em;
}
.voting-content-container{
    background: white;
    padding: 2em;
}
.voting-item-img{
    /* width: 50%; */
/*    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;*/
}
.voting-items{
    display: flex;
    flex-wrap: wrap;
}
.voting-items > voting-item{
    width: 100%;
}
.voting-item-footer{
    text-align: right;
}
.voting-items-comments{
    margin-top: 1em;
    font-size: 1.5em;
}
.voting-user-summary{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2em;
}
.voting-user-summary > *{
    margin-left: 1em;
}
.voting-user-icon{
    height: 64px;
    width: auto;
    box-shadow: 1px 1px 8px black;
    display: inline;
    margin-bottom: 1em;
}
.social-login-option{
    font-size: 22em;
    cursor: pointer;
}
.social-login-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}
.social-login-option.facebook:hover,
.social-login-option.google:hover{
    color: orangered;
}
.social-login-option{
    padding-left: .3em;
    padding-right: .3em;
}
.social-login-option.facebook{
    color: #0a68b4;
}
.social-login-option.google{
    color: red;
}
.voting-user-icon.google{
    border-radius: 50%;
}
.voting-user-icon.facebook{
    border: 3px solid white;
}
.voting-user-name{
}
.voting-user-name > h4{
    display: inline;
}
.top-buffer{
    margin-top: 1em;
}
.right-control-container{
    text-align: right;
}
.voting-item-container{
    padding: 1em;
}
.flex-row {
    display: flex;
    flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width : 768px) {
    .voting-user-summary{
        flex-direction: column;
        align-items: flex-start;
    }
    .voting-item-img{
        width: 100%;
    }
}