<div class="voting-app" ng-if="!votingApp.loading">
    <div class="jumbotron">
        <h1>365 Day Vote</h1> 
        <p>Hey guys! So, I've narrow my favorite photos to the ones listed
            below. Now I'd like you to vote on which one you like the
            best!
        </p> 
    </div>
    <div class="container-fluid">
        <div class="panel panel-primary logged-in" ng-if="votingApp.user">
            <div class="panel-heading">
                The Candidates
            </div>
            <div class="panel-body">
                <div class="voting-user-summary">
                    <img ng-src="{{votingApp.user.profileImageUrl}}"
                         class="voting-user-icon" 
                         ng-class="votingApp.user.provider"
                         ng-if="votingApp.user.profileImageUrl">
                    <div class="voting-user-name">
                        <h4 ng-bind="votingApp.user.displayName"></h4>
                        <p>Via <span ng-bind="votingApp.user.provider.toUpperCase();"></span></p>
                    </div>
                    <button class="btn btn-danger" ng-click="votingApp.logout();">
                        <span class="glyphicon glyphicon-off"></span> Logout
                    </button> 
                </div>
                <div class="top-buffer" ng-if="!votingApp.hasVoted">
                    <div class="voting-items">
                            <voting-item ng-repeat="item in votingApp.votingItems| orderBy: 'monthOrder' track by $index"
                                         month="item.month"
                                         comments="item.comments"
                                         image="item.image"
                                         title="item.title"
                                         flickr="item.flickr"
                                         on-vote="votingApp.onVote(item);"
                                         even="$even">
                            </voting-item>
                    </div>
                </div>
                <div class="top-buffer" ng-if="votingApp.hasVoted">
                    <voting-results has-voted="votingApp.hasVoted"
                                    user="votingApp.user"
                                    items="votingApp.votingItems">
                    </voting-results>
                </div>
            </div>
        </div>
        <div class="panel panel-primary logged-out" ng-if="!votingApp.user">
            <div class="panel-heading">
                Please Login
            </div>
            <div class="panel-body">
                <h3>Select a Network</h3>
                <div class="social-login-options">
                    <i class="fa fa-facebook-square social-login-option facebook" ng-click="votingApp.loginWithFacebook();"></i>
                    <i class="fa fa-google-plus-square social-login-option google" ng-click="votingApp.loginWithGoogle();"></i>
                </div>
            </div>
        </div>
    </div>
</div>